<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Översetter - Hochdeutsch-Plattdeutsch Übersetzer</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
  <img src="{{url_for('static', filename='img/logo_white.png')}}" align="middle" width ="255" height = "149" />

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="hochdeutsch" placeholder="Hochdeutsch" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">översetten</button>
    </form>

   <br>
   {{ input_text }}
   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
